<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>林小小</string>
		<key>phoneNumber</key>
		<string>18811111111</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王娜娜</string>
		<key>phoneNumber</key>
		<string>18021212121</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王小华</string>
		<key>phoneNumber</key>
		<string>15100009999</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邱三</string>
		<key>phoneNumber</key>
		<string>10559990327</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨晓晓</string>
		<key>phoneNumber</key>
		<string>15700006384</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘的辉</string>
		<key>phoneNumber</key>
		<string>15900000577</string>
	</dict>
	<dict>
		<key>name</key>
		<string>林小飞</string>
		<key>phoneNumber</key>
		<string>18000000797</string>
	</dict>
	<dict>
		<key>name</key>
		<string>就鹏</string>
		<key>phoneNumber</key>
		<string>15000000357</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈伟</string>
		<key>phoneNumber</key>
		<string>15150000015</string>
	</dict>
	<dict>
		<key>name</key>
		<string>航天</string>
		<key>phoneNumber</key>
		<string>13680909090</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张高</string>
		<key>phoneNumber</key>
		<string>18800000061</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柯人</string>
		<key>phoneNumber</key>
		<string>18700000082</string>
	</dict>
	<dict>
		<key>name</key>
		<string>谢达</string>
		<key>phoneNumber</key>
		<string>18000000487</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王八多</string>
		<key>phoneNumber</key>
		<string>13000000097</string>
	</dict>
	<dict>
		<key>name</key>
		<string>林尧啊</string>
		<key>phoneNumber</key>
		<string>13050000052</string>
	</dict>
	<dict>
		<key>name</key>
		<string>毛子</string>
		<key>phoneNumber</key>
		<string>18000000114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苏鹏鹏</string>
		<key>phoneNumber</key>
		<string>18000000326</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柳呵存</string>
		<key>phoneNumber</key>
		<string>18800000006</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈小杰</string>
		<key>phoneNumber</key>
		<string>15000000936</string>
	</dict>
	<dict>
		<key>name</key>
		<string>郑成功</string>
		<key>phoneNumber</key>
		<string>1500000059</string>
	</dict>
	<dict>
		<key>name</key>
		<string>范桶</string>
		<key>phoneNumber</key>
		<string>15111111124</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勇续爱</string>
		<key>phoneNumber</key>
		<string>18000960168</string>
	</dict>
	<dict>
		<key>name</key>
		<string>庄梁</string>
		<key>phoneNumber</key>
		<string>15999966419</string>
	</dict>
	<dict>
		<key>name</key>
		<string>徐才</string>
		<key>phoneNumber</key>
		<string>15989898253</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘方到</string>
		<key>phoneNumber</key>
		<string>18677777013</string>
	</dict>
	<dict>
		<key>name</key>
		<string>育彬人</string>
		<key>phoneNumber</key>
		<string>13009093890</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小明</string>
		<key>phoneNumber</key>
		<string>18600090507</string>
	</dict>
	<dict>
		<key>name</key>
		<string>孟子</string>
		<key>phoneNumber</key>
		<string>18711111153</string>
	</dict>
	<dict>
		<key>name</key>
		<string>温泉水</string>
		<key>phoneNumber</key>
		<string>15278787861</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柴火</string>
		<key>phoneNumber</key>
		<string>18000007262</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张小龙</string>
		<key>phoneNumber</key>
		<string>13600000343</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王富贵</string>
		<key>phoneNumber</key>
		<string>18555555931</string>
	</dict>
	<dict>
		<key>name</key>
		<string>姚伟个</string>
		<key>phoneNumber</key>
		<string>18888881130</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴中</string>
		<key>phoneNumber</key>
		<string>18889898130</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄达打</string>
		<key>phoneNumber</key>
		<string>15222224341</string>
	</dict>
	<dict>
		<key>name</key>
		<string>段龙</string>
		<key>phoneNumber</key>
		<string>15222229521</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈就将</string>
		<key>phoneNumber</key>
		<string>15600000870</string>
	</dict>
</array>
</plist>
